{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/four/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/three/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'comment/css/comment.css' %}">
<style type="text/css">
    #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>

{% include 'nav.html' %}

<body id="bg" style="background-image: url('{% static "img/white 1.jpg"%}');">


<div class="col-sm-12" style="padding-top: 60px">
<div id="content">
    <div class="col-sm-12">

<center><h1 style="color: #250CFF">RUANG MATEMATIKA</h1></center>



<center><img src="{% static "img/student 2.jpg" %}" alt="moses" class="card-img-top"></center>



<br>
<br>


<div class="row">
    <div class="col-sm-4"></div>
<center><h2 style="color: #FF5300">Anggota Kelompok 1 Kelas 3C</h2></center>   
</div>

<div class="row"> 
    <div class="col-sm-3">

      <div class="card">
        <img src="{% static "img/Allynda.jpeg" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Allynda Rohmah Nurfadila</h5>
                        <p class="card-text">Allynda Rohmah Nurfadila dengan NIM 2225210085 merupakan seorang mahasiswi yang lahir di Serang pada tanggal 13 Februari 2003. Saat ini ia berumur 19 tahun dan sedang mengampu semester 3 di jurusan Pendidikan Matematika, Fakultas Keguruan dan Ilmu Pendidikan, Universitas Sultan Ageng Tirtayasa. Kesukaan ia adalah menonton film.

                        </p>
                    </div>
                </div> 

    </div> 
      <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/amanda.PNG" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Amanda Putri Maulidya</h5>
                        <p class="card-text">Amanda Putri Maulidya  dengan NIM 2225210094 merupakan seorang mahasiswi yang lahir di Serang pada tanggal 25 Mei 2004. Saat ini ia berumur 18 tahun dan sedang mengampu semester 3 di jurusan Pendidikan Matematika, Fakultas Keguruan dan Ilmu Pendidikan, Universitas Sultan Ageng Tirtayasa. Kesukaan ia adalah menonton film dan berenang.

                        </p>
                    </div>
                </div> 
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="{% static "img/aul.jpg" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Aulia Urhomah</h5>
                        <p class="card-text">Aulia Urohmah dengan NIM 2225210086 lahir di Serang pada tanggal 28 April 2003. Saat ini ia berumur 19 tahun dan sedang mengampu semester 3 di jurusan Pendidikan Matematika, Fakultas Keguruan dan Ilmu Pendidikan, Universitas Sultan Ageng Tirtayasa. Ia memiliki hobi mempelajari serta memperdalam ilmu bahasa inggris dan bahasa korea.</p>
                    </div>
                </div> 
        
    </div> 

     <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/Rekha.jpg" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Rekha Gayatri Putri</h5>
                        <p class="card-text">Rekha Gayatri Putri dengan NIM 2225210097 merupakan seorang mahasiswi yang lahir di Tangerang pada tanggal 2 November 2002. Saat ini ia berumur 20 tahun dan sedang mengampu semester 3 di jurusan Pendidikan Matematika, Fakultas Keguruan dan Ilmu Pendidikan, Universitas Sultan Ageng Tirtayasa. Kesukaan ia adalah jalan-jalan.

                        </p>
                    </div>
                </div> 
    </div>

</div>



      
        
                </div>


<style type="text/css">
    #footer {
    position: absolute;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
</style>                

          
            </div>

 <div class="row bg-dark" style="padding-top: 80px">           
<div class="fixed-bottom" id="footer">
    <center><p style="color: white">Kelompok 1 ©2022</p></center>
</div>
</div>


        </div>









  
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>





</body>
</html>


